@import url('http://fonts.googleapis.com/css?family=Oswald');

@import url('http://fonts.googleapis.com/css?family=Open+Sans');


body {
	display: block;
}

.header {
	position: relative;
	display: block;

}

.header-logo {
	position: absolute;
	display: block;
	top: 25px;
	left: 170px;


}

.header-pic {
	width: 100%;
}

.s-plogo {
	display: inline-box;
}

.logo-text {
	display: inline box;
	font-family: Open Sans;
	margin-left: 26px;
	vertical-align: 17px;
}

.about-block {
	position: absolute;
	display: block;
	top: 35px;
	right: 150px;	
}

.about {
	font-family: Oswald;
	font-color: #083451
}

.mag-lense {
	
}

.title-block {
	position: absolute;
	width: 860px;
	left: 320px;
	top: 210px;
}

.s-ptitle {
	font-family: Open Sans;
	color: #FFFFFF;
	font-size: 90px;
}

.subtitle {
	font-family: Open Sans;
	color: #083451;
	padding: 260px;
}

.middle {
	position: relative;
	display: block;
}

.body-left {
	display: inline-block;
	width: 65%;
	box-sizing: border-box;
	padding-left: 200px;
}

.headline {
	font-family: Oswald;
	font-size: 75px;
	color: #083451;
}

.credit {
	
}

.credit-avatar {
	max-width: 30px;
}

.name {
	

}

.dateline {
	
}

.ipsums {
	
}

.radical {
	
}

.text-links {
	
}

.read-links {
	

}

.comment-links {
	
}

.comment-text {
	
}

.read {
	
}

.share-links {
	
}

.share-text {
	
}

.body-right {
	display: inline-block;
	width: 35%;
	}

.aside-pic {
	
}

.aside-name {
	
}

.aside-links {
	
}

.ad-pic {
	
}

.adlink {
	
}

.aside-header {
	
}

.aside-ipsum {
	
}

.footer {
	position: relative;
	display: block;
}

.footer-headline {
	
}

.footer-photos {
	
}

.photo1 {
	
}

.overlay {
	
}

.photo-text {
	
}

.photo2 {
	
}

.photo3 {
	
}

.photo4 {
	
}

.footer-bar {
	
}

.footer-icon {
	
}

.footer-copyright {
	
}

.nav {
	
}