@import url('http://fonts.googleapis.com/css?family=Oswald');

@import url('http://fonts.googleapis.com/css?family=Open+Sans');


body {
	display: block;
	margin: 0;
}

.header {
	position: relative;
	display: block;

}

.header-logo {
	position: absolute;
	display: block;
	top: 25px;
	left: 170px;


}

.header-pic {
	width: 100%;
}

.s-plogo {
	display: inline-box;
}

.logo-text {
	display: inline box;
	font-family: Open Sans;
	margin-left: 26px;
	vertical-align: 17px;
}

.about-block {
	position: absolute;
	display: block;
	top: 35px;
	right: 150px;	
}

.about {
	font-family: Oswald;
	font-color: #083451
}

.mag-lense {
	
}

.title-block {
	position: absolute;
	width: 860px;
	left: 320px;
	top: 210px;
}

.s-ptitle {
	font-family: Open Sans;
	color: #FFFFFF;
	font-size: 90px;
}

.subtitle {
	font-family: Open Sans;
	color: #083451;
	padding: 260px;
}

.middle {
	position: relative;
	display: block;
	width: 100%;
	height: 1000px;
}

.body-left {
	display: inline-block;
	width: 65%;
	box-sizing: border-box;
	padding-left: 200px;
	float: left
}

.headline {
	font-family: Oswald;
	font-size: 75px;
	color: #083451;
}

.credit {

}

.credit-avatar {
	max-width: 30px;
}

.name {
	font-family: Open Sans;
	color: #1568B0;	
	vertical-align: 10px;
	margin-left: 20px;
}

.dateline {
	font-family: Open Sans;
	color: #CBCBCB;
	vertical-align: 10px;
	margin-left: 15px;

}

.ipsums {
	font-family: Open Sans;
	color: #545F67;
}

.underline {
	color: #ACBAC6;
}

.radical {
	font-family: Open Sans;
	font-size: 28px;
	color: #0061AD;
	border-left-color: #ACBAC6;
	border-left-style: solid;
	padding: 25px;
	margin-left: 10px;
}

.rollover {
	color: #0061AD;
}

.text-links {
	max-width: 600px;
	max-height: 40px;
}

.read-links {
	

}

.comment-links {
	display: inline-block;
	position: relative;
	background-color: #545F67;
	color: white;
	width: 21px;
	padding: 10px;
}

.comment-text {
	display: inline-block;
	position: relative;
	background-color: #ACBAC6;
	max-height: 40px;
	width: 130px;
	padding: 9px;
	font-family: Open Sans;
	color: white;
	top: -14px;
	right: 4px;
}

.read {
	display: inline-block;
	position: relative;
	background-color: #545F67;
	color: white;
	width: 27px;
	padding:10px;
}

.share {
	display: inline-block;
	position: relative;
	background-color: #083452;
	color: white;
	width: 21px;
	padding: 11px;
}

.share-text {
	display: inline-block;
	position: relative;
	background-color: #106DB3;
	max-height: 40px;
	width: 130px;
	padding: 9px;
	font-family: Open Sans;
	color: white;
	top: -14px;
	right: 4px;
}

.body-right {
	display: inline-block;
	position: relative;
	width: 25%;
	box-sizing: border-box;
	margin-bottom: 260px;
	padding: 15px;
	top: 60px;
	float: left;
	}

.aside-pic {
	position: relative;
	margin-bottom: 50px;
	margin-left: 90px;
}

.aside-name {
	position: relative;
	font-family: Open Sans;
	color: #0061AD;
	top: -10px;
	right: 85px;
}

.aside-links {
	position: relative;
	font-family: Open Sans;
	color: #CBCBCB;
	padding: 40px;

}

.ad-pic {
	position: relative;
	margin-top: 45px; 
}

.link {
	position: relative;
	font-family: Open Sans;
	color: #CBCBCB;
	text-decoration: underline;
	margin-top: 35px;
	padding: 5px;
	left: 185px;
}

.aside-header {
	position: relative;
	font-family: Oswald;
	color: #0061AD;
}

.aside-ipsum {
	position: relative;
	font-family: Open Sans;
	color: #CBCBCB;
}

.footer {
	position: relative;
	display: block;
	border-top-style: solid;
	border-top-color: #ACBAC6;
	border-top-width: 1px;
}

.footer-headline {
	font-family: Oswald;
	font-size: 80px;
	color: #083451;
	margin-left: 360px;
}

.footer-photos {
	display: block;
	position: relative;
	width: 100%;
	height: 367px;
	font-family: Oswald;
}

.photo1 {
	display: inline-block;
	position: relative;
	width: 25%;
	float: left;
}

.pic1 {
	width:100%;
}


.overlay1 {
	position: absolute;
	width: 100%;
	height: 365px;
	background: #106DB3;
	top: 0;
	right: 0;
	opacity: .4;
}

.text1 {
	position: absolute;
	font-size: 35px;
	color: #083452;
	padding-left: 20px;
	top: 300px;
}

.photo2 {
	display: inline-block;
	position: relative;
	width: 25%;
	float: left;
}

.pic2 {
	width:100%;
}

.overlay2 {
	position: absolute;
	width: 100%;
	height: 365px;
	background: #106DB3;
	color: white;
	top: 0;
	right: 0;
	opacity: .2;
}

.text2 {
	position: absolute;
	font-size: 35px;
	color: #FDFDFC;
	padding-left: 20px;
	top: 300px;
}

.photo3 {
	display: inline-block;
	position: relative;
	width: 25%;
	float: left;
}

.pic3 {
	width:100%;
}

.overlay3 {
	position: absolute;
	width: 100%;
	height: 365px;
	background: #106DB3;
	top: 0;
	right: 0;
	opacity: .7;
}

.text3 {
	position: absolute;
	font-size: 35px;
	color: #083452;
	top: 250px;
	padding-left: 20px;
	padding-right: 70px;
}

.photo4 {
	display: inline-block;
	position: relative;
	width: 25%;
	float: left;
}

.pic4 {
	width:100%
}

.overlay4 {
	position: absolute;
	width: 100%;
	height: 365px;
	background: #106DB3;
	top: 0;
	right: 0;
	opacity: .7;
}

.text4 {
	position: absolute;
	font-size: 35px;
	color: #083452;
	top: 300px;
	padding-left: 20px;
	padding-right: 70px;
}

.footer-bar {
	
}

.footer-icon {
	
}

.footer-copyright {
	
}

.nav {
	
}