.header {
	position: relative;
	display: block;

}

.header-logo {
	position: absolute;

}

.header-pic {
	position: absolute;
	width: 100%;
}

.s-plogo {
	
}

.logo-text {
	
}

.about-block {
	
}

.about {
	
}

.mag-lense {
	
}

.title-block {
	
}

.s-ptitle {
	
}

.subtitle {
	
}

.middle {
	position: relative;
	display: block;
}

.body-left {
	position: absolute;
	width: 65%;
	
}

.headline {
	
}

.credit {
	
}

.credit-avatar {
	
}

.name {
	

}

.dateline {
	
}

.ipsums {
	
}

.radical {
	
}

.text-links {
	
}

.read-links {
	

}

.comment-links {
	
}

.comment-text {
	
}

.read {
	
}

.share-links {
	
}

.share-text {
	
}

.body-right {
	display: inline-block;
	position: absolute;
	width: 35%;
}

.aside-pic {
	
}

.aside-name {
	
}

.aside-links {
	
}

.ad-pic {
	
}

.adlink {
	
}

.aside-header {
	
}

.aside-ipsum {
	
}

.footer {
	position: relative;
	display: block;
}

.footer-headline {
	
}

.footer-photos {
	
}

.photo1 {
	
}

.overlay {
	
}

.photo-text {
	
}

.photo2 {
	
}

.photo3 {
	
}

.photo4 {
	
}

.footer-bar {
	
}

.footer-icon {
	
}

.footer-copyright {
	
}

.nav {
	
}